chardet==3.0.4
html5lib==1.0.1
lxml==4.3.0
json-table-schema==0.2.1
messytables==0.15.2
python-magic==0.4.15
requests==2.21.0
urllib3==1.24.1
webencodings==0.5.1
xlrd==1.2.0
absl-py==0.6.1
Jinja2==2.10